<!-- Header -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Weather</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Search Container -->
  <div class="search-container">
    <ion-button class="location-button" (click)="getCurrentLocation()">
      <ion-icon slot="icon-only" name="location-outline"></ion-icon>
    </ion-button>
    <ion-searchbar
      placeholder="Search city..."
      (keypress)="handleInput($event)"
      enterkeyhint="search"
    ></ion-searchbar>
  </div>

  <!-- Loading Spinner -->
  <div *ngIf="isLoading" class="ion-text-center ion-padding">
    <ion-spinner name="crescent"></ion-spinner>
    <p class="ion-text-center ion-color-light">Getting weather data...</p>
  </div>

  <!-- Weather Content -->
  <div *ngIf="showContent && !isLoading">
    <!-- Main Weather Display -->
    <ion-grid class="tempgrid">
      <ion-row class="main">
        <div class="city" *ngIf="geoRevResp[0]">{{ geoRevResp[0].name }}</div>
        <div class="date" *ngIf="resp.current">
          {{ resp.current.dt * 1000 | date:'string' }}
        </div>
        <div class="temperature" *ngIf="resp.current">
          {{ resp.current.temp | number: '1.0-0' }}°
        </div>
        <div class="icon" *ngIf="resp.current">
          <img
            src="http://openweathermap.org/img/wn/{{ resp.current.weather[0].icon }}@4x.png"
            alt="Weather Icon"
            width="150"
          />
        </div>
        <div class="description" *ngIf="resp.current">
          {{ resp.current.weather[0].main }}
        </div>
      </ion-row>
    </ion-grid>

    <!-- Weather Conditions Grid -->
    <div class="current">Current conditions</div>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <div class="conditions">
            <div class="detailed">
              <ion-icon name="compass-outline"></ion-icon>
              Wind
            </div>
            <div class="detailed" *ngIf="resp.current">
              {{ resp.current.wind_speed }} km/h
            </div>
          </div>
        </ion-col>

        <ion-col size="6">
          <div class="conditions">
            <div class="detailed">
              <ion-icon name="water-outline"></ion-icon>
              Rainfall
            </div>
            <div class="detailed" *ngIf="resp.current">
              {{ resp.current.rain | rain}} mm
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <div class="conditions">
            <div class="detailed">
              <ion-icon name="compass-outline"></ion-icon>
              Direction
            </div>
            <div class="detailed" *ngIf="resp.current">
              {{ resp.current.wind_deg | wind }}
            </div>
          </div>
        </ion-col>

        <ion-col size="6">
          <div class="conditions">
            <div class="detailed">
              <ion-icon name="water-outline"></ion-icon>
              Humidity
            </div>
            <div class="detailed" *ngIf="resp.current">
              {{ resp.current.humidity }}%
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <div class="conditions">
            <div class="detailed">
              <ion-icon name="contract-outline"></ion-icon>
              Pressure
            </div>
            <div class="detailed" *ngIf="resp.current">
              {{ resp.current.pressure }} hPa
            </div>
          </div>
        </ion-col>

        <ion-col size="6">
          <div class="conditions">
            <div class="detailed">
              <ion-icon name="cloud-outline"></ion-icon>
              Cloudiness
            </div>
            <div class="detailed" *ngIf="resp.current">
              {{ resp.current.clouds }}%
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Forecast Section -->
    <div class="forecastdivider">7-day forecast</div>
    <ion-grid class="forecast">
      <!-- Keep the existing forecast section structure -->
      <ion-row>
        <ion-col class="day" *ngIf="resp.daily"
          >{{resp.daily[0].dt | day}}</ion-col
        >
        <ion-col class="day" *ngIf="resp.daily"
          >{{resp.daily[1].dt | day}}</ion-col
        >
        <ion-col class="day" *ngIf="resp.daily"
          >{{resp.daily[2].dt | day}}</ion-col
        >
        <ion-col class="day" *ngIf="resp.daily"
          >{{resp.daily[3].dt | day}}</ion-col
        >
        <ion-col class="day" *ngIf="resp.daily"
          >{{resp.daily[4].dt | day}}</ion-col
        >
        <ion-col class="day" *ngIf="resp.daily"
          >{{resp.daily[5].dt | day}}</ion-col
        >
        <ion-col class="day" *ngIf="resp.daily"
          >{{resp.daily[6].dt | day}}</ion-col
        >
      </ion-row>
      <!-- Icons -->
      <ion-row>
        <ion-col class="gridicon" *ngIf="resp.daily"
          ><img
            src="http://openweathermap.org/img/wn/{{ resp.daily[0].weather[0].icon }}@2x.png"
            alt="API Image"
        /></ion-col>
        <ion-col class="gridicon" *ngIf="resp.daily"
          ><img
            src="http://openweathermap.org/img/wn/{{ resp.daily[1].weather[0].icon }}@2x.png"
            alt="API Image"
        /></ion-col>
        <ion-col class="gridicon" *ngIf="resp.daily"
          ><img
            src="http://openweathermap.org/img/wn/{{ resp.daily[2].weather[0].icon }}@2x.png"
            alt="API Image"
        /></ion-col>
        <ion-col class="gridicon" *ngIf="resp.daily"
          ><img
            src="http://openweathermap.org/img/wn/{{ resp.daily[3].weather[0].icon }}@2x.png"
            alt="API Image"
        /></ion-col>
        <ion-col class="gridicon" *ngIf="resp.daily"
          ><img
            src="http://openweathermap.org/img/wn/{{ resp.daily[4].weather[0].icon }}@2x.png"
            alt="API Image"
        /></ion-col>
        <ion-col class="gridicon" *ngIf="resp.daily"
          ><img
            src="http://openweathermap.org/img/wn/{{ resp.daily[5].weather[0].icon }}@2x.png"
            alt="API Image"
        /></ion-col>
        <ion-col class="gridicon" *ngIf="resp.daily"
          ><img
            src="http://openweathermap.org/img/wn/{{ resp.daily[6].weather[0].icon }}@2x.png"
            alt="API Image"
        /></ion-col>
      </ion-row>
      <!-- Max Temp -->
      <ion-row>
        <ion-col class="max" *ngIf="resp.daily"
          >{{ resp.daily[0].temp.max | number: '1.0-0' }}°</ion-col
        >
        <ion-col class="max" *ngIf="resp.daily"
          >{{ resp.daily[1].temp.max | number: '1.0-0' }}°</ion-col
        >
        <ion-col class="max" *ngIf="resp.daily"
          >{{ resp.daily[2].temp.max | number: '1.0-0' }}°</ion-col
        >
        <ion-col class="max" *ngIf="resp.daily"
          >{{ resp.daily[3].temp.max | number: '1.0-0' }}°</ion-col
        >
        <ion-col class="max" *ngIf="resp.daily"
          >{{ resp.daily[4].temp.max | number: '1.0-0' }}°</ion-col
        >
        <ion-col class="max" *ngIf="resp.daily"
          >{{ resp.daily[5].temp.max | number: '1.0-0' }}°</ion-col
        >
        <ion-col class="max" *ngIf="resp.daily"
          >{{ resp.daily[6].temp.max | number: '1.0-0' }}°</ion-col
        >
      </ion-row>
      <!-- Min Temp -->
      <ion-row>
        <ion-col class="min" *ngIf="resp.daily"
          >{{ resp.daily[0].temp.min | number: '1.0-0' }}°</ion-col
        >
        <ion-col class="min" *ngIf="resp.daily"
          >{{ resp.daily[1].temp.min | number: '1.0-0' }}°</ion-col
        >
        <ion-col class="min" *ngIf="resp.daily"
          >{{ resp.daily[2].temp.min | number: '1.0-0' }}°</ion-col
        >
        <ion-col class="min" *ngIf="resp.daily"
          >{{ resp.daily[3].temp.min | number: '1.0-0' }}°</ion-col
        >
        <ion-col class="min" *ngIf="resp.daily"
          >{{ resp.daily[4].temp.min | number: '1.0-0' }}°</ion-col
        >
        <ion-col class="min" *ngIf="resp.daily"
          >{{ resp.daily[5].temp.min | number: '1.0-0' }}°</ion-col
        >
        <ion-col class="min" *ngIf="resp.daily"
          >{{ resp.daily[6].temp.min | number: '1.0-0' }}°</ion-col
        >
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
